.foyer-img {
  background: url('../../images/foyer.jpeg');
  background-size: cover;
  background-position-y: 45%;
  height: 100%;
  width: 100%;
}

.boat-img {
  background: url('../../images/boat.jpg');
  background-size: cover;
  height: 150px;
  width: 100%;
}

.run-img {
  background: url('../../images/run.jpg');
  background-size: cover;
  height: 150px;
  width: 100%;
}

a.positions-btn {
  margin-top: 30px;
}

.divider {
  border: 1px solid #e0e0e0;
}

.social-media-links a {
  font-family: FontAwesome;
  color: #949494;
  padding-right: 15px;
  font-size: 30px;
}

.linkedin:before {
  content: "\f08c";
}

.linkedin:hover:before {
  color: #0976b4;
}

.xing:before {
  content: "\f169";
}

.xing:hover:before {
  color: #026466;
}

.twitter:before {
  content: "\f081";
}

.twitter:hover:before {
  color: #55acee;
}

.youtube:before {
  content: "\f166";
}

.youtube:hover:before {
  color: #e52d27;
}

.facebook:before {
  content: "\f082";
}

.facebook:hover:before {
  color: #3b5998;
}

.instagram:before {
  content: "\f16d";
}

.instagram:hover:before {
  color: #dd4b39;
}

@media only screen and (min-width: 669px) {
  .foyer-img {
    height: 100%;
  }
}

@media only screen and (max-width: 668px) {
  .foyer-img,
  .boat-img,
  .run-img {
    height: 175px;
  }

  .foyer-img {
    background-position-y: 34%;
  }

  .boat-img {
    background-position-y: 16%;
  }
}
