.foyer-img {
  background: url('../../images/foyer.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.boat-img {
  background: url('../../images/boat.jpg');
  background-size: cover;
  height: 150px;
  width: 100%;
}

.run-img {
  background: url('../../images/run.jpg');
  background-size: cover;
  height: 150px;
  width: 100%;
}

@media only screen and (min-width: 669px) {
  .foyer-img {
    height: 100%;
  }
}

@media only screen and (max-width: 668px) {
  .foyer-img {
    height: 150px;
  }
}
