.logo {
  height: 51px;
}

.header {
  line-height: 0;
  margin-left: 8px;
}

.languages a {
  color: #969696;
  cursor: pointer;
  padding-left: 25px;
}

.languages .selected{
  color: #ff7500;
}

@media only screen and (min-width: 669px) and (max-width: 1013px) {

}

@media only screen and (max-width: 668px) {
  .logo {
    height: 30px;
  }
}
