.cover-image {
    position: relative;
    height: 450px;
    width: 100%;
    filter: blur(1px) brightness(70%);
    -webkit-filter: blur(1px) brightness(70%);
}

.search-bar {
  background-color: rgba(255,255,255,0.3);
  width: 450px;
  top: 30%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

select, button {
    height: 3em;
    width: 100%;
}
