.logo {
  width: 100px;
  padding: 10px;
}
a{
  cursor: pointer;
}
.logos{
  padding-left: 15px;
}

.languages{
  float: right;

}
.header{
  white-space: nowrap;
}

@media only screen and (max-width: 668px) {
  .logo{
    width: 80px;
  }
  .languages{
    padding-left: 50px;
  }
}

@media only screen and (min-width: 1013px) {
  .languages {
    padding-right: 50px;
  }
}
