.job-entry{
  padding-bottom: 20px;

  border-bottom: 1px solid lightgray;
}
a:link{
  color: grey;
}

a:visited{
  color: lightgray;
}
a:hover{
  color: orange;
}
.jobs-container{
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.job-info{
  display: inline-block;
  padding-right: 50px;
  width: 30%;
}

.detail-filters{
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 1.6rem;
}
.jobs-list{
  padding-top: 10px;
}
.detail-filters-select{
  padding-right: 50px;
}
