.job-entry{
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 1px solid lightgray;
}
a:link{
  color: grey;
}

a:visited{
  color: lightgray;
}
a:hover{
  color: orange;
}
.jobs-container{
  text-align: center;
}
.job-info{
  display: inline-block;
  padding-right: 50px;
  width: 30%;
}


