.cover-image {
    background-size: cover;
    background-image: url('./../images/cover_image.jpg');
    width: 100%;
    height: 450px;
    filter: blur(1px) brightness(70%);
    -webkit-filter: blur(1px) brightness(70%);
}