.search-bar {
  background-color: rgba(51,51,51,0.5);
  width: 80%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}
@media only screen and (min-width: 1013px) {
  .search-bar {
    top:30%
  }
}
@media only screen and (min-width: 669px) and (max-width: 1013px) {
  .search-bar {
    top:17%
  }
}
@media only screen and (max-width: 668px) {
  .search-bar {
    top:10%
  }
}
.form-labels {
  color:white;
  font-size: 1.6rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(251,251,251,0.5);

}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.field {
  background-color: transparent;
  border: 2px solid #fff;
  color: white;
  height: 4.4rem;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}
