.title {
  text-align: center;
}

a.positions-container {
  color: #262626;
  text-decoration: none;
  display: block;
}

a.positions-container:hover {
  background-color: #f4f6f8;
  cursor: pointer;
  text-decoration: none;
}

.positions-container a:hover {
  text-decoration: none;
}

.article-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.article-text {
  line-height: 25px;
}
