.dropdown-container{
  position: relative;
}
.dropdown-display{
  height: 42px;
  cursor: pointer;
  border: solid 1px #e0e0e0;
  display: block;
}
.fa-angle-down{
  float: right;
  padding-right: 7px;
  padding-top: 15px;
  color: #8f8f8f;
  width: 10%;
}
.dropdown-selected{
  padding: 10px;
  display: inline-block;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-list{
  visibility: hidden;
  height: 0px;
}
.list-item-wrapper:hover{
  background-color: #e0e0e0;
}
.list-item-wrapper{
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  border-bottom: solid 1px #e0e0e0;
}

.dropdown-list-open{
  position: absolute;
  border-right: solid 1px #e0e0e0;
  border-left: solid 1px #e0e0e0;
  background-color: white;
  width: 100%;
}
