.job-link:link{
  color: grey;
  display: block;
}
.job-link:visited{
  color: lightgray;
}
.job-link:hover{
  background-color: #f6f6f6;
}
.job-entry{
  padding: 10px;
  min-height: 60px;
  border-bottom: 1px solid #d8d8d8;
}
.jobs-container{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}
.job-info{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-align: left;
}
.detail-filters{
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 1.6rem;
}
.detail-filters-select{
  padding-right: 50px;
}
.filter-label{
  color: #747474;
  font-size: 1.4rem;
  white-space:nowrap;
}
.job-city{
  color: #9b9b9b;
}
.job-title{
  color: #343434;
}
