.filterField {
    background-color: transparent;
    border: 1px solid #e0e0e0;
    color: #343434;
    height: 4.4rem;
    width: 90%;
    font-size: 1.4rem;
    text-align: center;
}

.spinner {
    margin: 30px auto 0;
    width: 70px;
    text-align: center;
}

.jobs-list {
  padding-top: 20px;
  padding-bottom: 40px;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.marketing-communications {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.customercare {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.businessdevelopment-strategy {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.sales-salesoperations {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.corporatefunctions {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.workingstudents-internships {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.infrastructure-operations {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.datascience-analytics {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.softwareengineering {
  background: url('./../../images/softwareengineering.jpg') no-repeat;
  background-size: cover;
}

.legal-finance {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.productmanagement-ux {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

.department-placeholder {
  background: url('./../../images/post-it.webp');
  background-size: cover;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}


@media only screen and (min-width: 1014px) {
  .softwareengineering {
    background-position-y: -120px;
  }
}


@media only screen and (min-width: 669px) and (max-width: 1013px) {
  .softwareengineering {
    background-position-y: -95px;
  }
}
