.job-link:link{
  color: grey;
}

.job-link:visited{
  color: lightgray;
}
.job-link:hover{
  color: orange;
}

.job-entry{
  margin: 15px;
  min-height: 60px;
  border: 1px solid lightgray;
}

.jobs-container{
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.job-info{
  display: inline-block;
  padding-right: 40px;
  width: 25%;
  vertical-align: middle;
  padding: 10px;
  text-align: left;
}

.detail-filters{
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 1.6rem;
}
.detail-filters-select{
  padding-right: 50px;
}
.filter-label{
  font-size: 1.4rem;
}
.fa{
  padding-right: 5px;
}
